# данные
lakehouse/
DataSets/
 DataSets/
*.csv
*.parquet
*.duckdb
.download.lock

# python
.venv/
__pycache__/
*.pyc
*.egg-info/
ml/src/darumen/v1/
mlruns/

# .net
bin/
obj/
*.user
.vs/

# web
node_modules/
apps/web/dist/

# flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins*
apps/mobile/ios/Pods/

# env и ide
.env
.DS_Store
.idea/
apps/web/e2e/shots/
apps/web/.env
